.imagen {
    height: 28rem;
    object-fit: cover;
    margin-top: 2rem;
}

.imagen-fondo {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    filter: brightness(30%);
}

.detalles {
    width: 100%;
    padding: 1rem 3.2rem 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.contenido:hover .detalles {
    opacity: 1;
}

.detalles h3 {
    font-size: 1.4rem;
}

.btn-container {
    width: 88%;
    display: flex;
    justify-content: space-between;
}

.btn-container .btn {
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    color: #ccc;
}

.btn-container .btn:hover {
    color: #fff;
}

.indicator-item {
    height: 1rem;
    width: 1rem;
    background-color: rgb(238, 108, 77, 0.5);
    transition: background-color 0.3s ease;
}

.indicator-item:hover {
    cursor: pointer;
    background-color: rgb(238, 108, 77, 0.7);
}

.active {
    height: 1.3rem;
    width: 1.3rem;
    transform: translateY(0.15rem);
    background-color: #EE6C4D;
    transition: background-color 0.5s ease;
}

.btn-agregar {
    background-color: #3D5A80;
    color: #fff;
}