.align-text-middle {
    vertical-align: middle;
}

.btn-azul {
    background-color: #3D5A80 !important;
    color: #fff;
}

.btn-coral {
    background-color: #EE6C4D !important;
    color: #fff;
}

h2, label {
    color: #3D5A80;
}

thead {
    background-color: #3D5A80;
    color: #fff;
}